{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Linen Road | Your one stop shop for Chems in the Dark Net</title>
	<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'skeleton.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="twelve columns" align="center">
				<br>		
				<h2 style="font-size: 60px">Linen Road</h2>
				<h5>Anomymous Virtual Black Market</h5>
				<hr>
		</div>
		<!-- Loop Start -->
		{% for item in inventory %}
		<div class="row">
			<!-- Place all Inventory Here -->
			<div class="three columns" align="center">
				<img src="static/{{ item.itemPic }}" class="u-max-full-width itemUniformity">
			</div>
			<div class="six columns">
				<h1>{{ item.itemName }}</h1>
				<p>{{ item.itemDescription }}</p>
			</div>
			<div class = "three columns">
				<p>{{ item.itemStock }} in Stock<br>
				${{ item.itemPrice }}
				</p>
				<form action="/purchase">
				<input type="hidden" name="itemID" id="itemID" value="{{ item.itemID }}">

				<input type="number" name="amount" id="amount" placeholder="Input Amount">
				<input class="button-primary" type="submit" value="Buy">
				</form>
			</div>
			<!-- End Inventory Here -->
		</div>
		<br>
		{% endfor %}
		<!-- Loop End -->
	</div>
</body>
</html>
